extends common/layout.pug

block body
  h1 Viseko Markup Boilerplate
  p Lol kek cheburek
  p Another lol kek cheburek

  img(src=require("../img/fold1/anything.png"), alt="")
  img(src=require("../img/fold1/cloth.png"), alt="")
  img(src=require("../img/fold2/gift.png"), alt="")
  img(src=require("../img/docs.png"), alt="")
  
  .some-block
