//- Mixins
include ../mixins/picture
include ../mixins/svg-icon

//- Custom variables
block vars

doctype html
html(lang="en")
  head
    //- Meta data
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Styles
    link(rel="stylesheet", href=require("@styles/index.scss"))
    block styles
    
    //- Document title
    title Document
  body
    block body
    script(src=require("@js/index.js")) 
